/* #show {
    border: 4px solid black;
    padding: 4px;
    height: max-content;
} */

.parent {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }
  
.child1 {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    width: 30%;
}

.child2 {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    width: 70%;
    border: 4px solid black;
    padding: 4px;
    height: 300px;
}

#final{
    font-size: 20px;
}

/* .child {
    display: inline-block;
    width: 50%;
} */